.culture-form {
  text-align: center;

  form {
    max-width: none;
  }

  .unit {
    margin-left: .3em;
  }

  .germination {
    .end-date {
      >* {
        display: inline-block;

        &:first-child {
          margin-right: .5em;
        }
      }
    }
  }
  section {
    margin: 0 0 1em;
    border-bottom: 1px solid #e4eaed;
  }

  .editor {
    ::ng-deep .ui-editor-toolbar {
      zoom: .8;
    }
    ::ng-deep .ui-editor-content {
      height: 16em;
    }
  }

  .transplantation-date {
    margin-left: 2em;
  }

  .bed-occupancy {
    .values > .value {
      display: flex;
      align-items: center;
      margin: .3em;

      >* {
        flex: 1 1 100%;
      }
      >label {
        flex: 0 0 5em;
        margin-right: 1em;
      }
    }
  }

}
