<div class="culture-form ui-widget">
  <header>
    <h1 i18n>Culture edition</h1>
  </header>

  <form #cultureForm="ngForm" (submit)="onSubmit()" class="pc-form"
  >

    <div class="row">

      <div class="col">

        <div class="row" *templateVar="cropRef | async; let model">
          <label i18n>Crop</label>
          <span>
            <pc-crop-select [ngModel]="model.propertyValue"
                            (ngModelChange)="onCropChange($event)"
                            [name]="model.property"
                            required
                            #control="ngModel"
            ></pc-crop-select>
            <pc-validation-errors [errors]="model.validationErrors"
                                  *ngIf="control.touched"
            ></pc-validation-errors>
          </span>
        </div>

        <div class="row" *templateVar="bedRef | async; let model">
          <label i18n>Bed</label>
          <span>
            <pc-bed-select [ngModel]="model.propertyValue"
                           (ngModelChange)="onBedChange($event)"
                           [name]="model.property"
                           required
                           #control="ngModel"
            ></pc-bed-select>
            <pc-validation-errors [errors]="model.validationErrors"
                                  *ngIf="control.touched"
            ></pc-validation-errors>
          </span>
        </div>

        <div class="row" *templateVar="sowingDate | async; let model">
          <label i18n>Sowing date</label>
          <span>
            <pc-date-select [ngModel]="model.propertyValue"
                            (ngModelChange)="onSowingDateChange($event)"
                            [name]="model.property"
                            required
                            #control="ngModel"
            ></pc-date-select>
            <pc-validation-errors [errors]="model.validationErrors"
                                  *ngIf="control.touched"
            ></pc-validation-errors>
          </span>
        </div>

        <div class="row" *templateVar="daysUntilGermination | async; let model">
          <label i18n>Germination</label>
          <span>
            <div class="days-until">
              <div>
                <p-spinner [ngModel]="model.propertyValue"
                           (ngModelChange)="onDaysUntilGerminationChange($event)"
                           [name]="model.property"
                           required
                           [min]="1" [step]="1"
                           [size]="4"
                           #control="ngModel"
                ></p-spinner>
                <label i18n class="unit">days</label>
              </div>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </div>
            <div class="end-date">
                <span i18n>Until </span>
                <pc-date-select [ngModel]="germinationDateValue | async"
                                (ngModelChange)="onGerminationDateChange($event)"
                                name="germination-date"
                                [min]="sowingDateValue | async"
                ></pc-date-select>
            </div>
          </span>
        </div>


        <div class="row" *templateVar="daysUntilFirstHarvest | async; let model">
          <label i18n>First harvest</label>
          <span>
            <div class="days-until">
              <div>
                <p-spinner [ngModel]="model.propertyValue"
                           (ngModelChange)="onDaysUntilFirstHarvestChange($event)"
                           [name]="model.property"
                           required
                           [min]="daysUntilGerminationValue | async" [step]="1"
                           [size]="4"
                           #control="ngModel"
                ></p-spinner>
                <label i18n class="unit">days after sowing</label>
              </div>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </div>
            <div class="end-date">
                <pc-date-select [ngModel]="firstHarvestDateValue | async"
                                (ngModelChange)="onFirstHarvestDateChange($event)"
                                name="first-harvest-date"
                                [min]="germinationDateValue | async"
                ></pc-date-select>
            </div>
          </span>
        </div>


        <div class="row" *templateVar="harvestDayDuration | async; let model">
          <label i18n>Last harvest</label>
          <span>
            <div class="days-until">
              <div>
                <p-spinner [ngModel]="model.propertyValue"
                           (ngModelChange)="onHarvestDurationChange($event)"
                           [name]="model.property"
                           required
                           [min]="1" [step]="1"
                           [size]="4"
                           #control="ngModel"
                ></p-spinner>
                <label i18n class="unit">days after first harvest</label>
              </div>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </div>
            <div class="end-date">
                <pc-date-select [ngModel]="lastHarvestDateValue | async"
                                (ngModelChange)="onLastHarvestDateChange($event)"
                                name="last-harvest-date"
                                [min]="firstHarvestDateValue | async"
                ></pc-date-select>
            </div>
          </span>
        </div>


        <div class="row">
          <p-checkbox [ngModel]="hasNursing | async"
                      (ngModelChange)="onNursingChanged($event)"
                      [binary]="true"
                      name="nursing"
                      label="Nursing" i18n-label
          ></p-checkbox>
        </div>

        <section class="nursing" *ngIf="hasNursing | async">
          <div class="row" *templateVar="nursingDuration | async; let model">
            <label i18n>Duration</label>
            <span>
              <div>
                <p-spinner [ngModel]="model.propertyValue"
                           (ngModelChange)="onNursingDurationChange($event)"
                           [name]="'nursing'+model.property"
                           required
                           [min]="1" [step]="1"
                           [size]="4"
                           #control="ngModel"
                ></p-spinner>
                <label i18n class="unit">days</label>
                <span class="transplantation-date">
                  {{ nursingEndDate | async | date }}
                </span>
              </div>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </span>
          </div>

        </section>


        <div class="row">
          <p-checkbox [ngModel]="hasBedPreparation | async"
                      (ngModelChange)="onPreparationChanged($event)"
                      [binary]="true"
                      name="preparation"
                      label="Bed preparation" i18n-label
          ></p-checkbox>
        </div>
        <section class="preparation" *ngIf="hasBedPreparation | async">
          <div class="row" *templateVar="bedPreparationType | async; let model">
            <label i18n>Type</label>
            <span>
              <pc-bed-preparation-type-select [ngModel]="model.propertyValue"
                                              (ngModelChange)="onBedPreparationTypeChange($event)"
                                              [name]="model.property"
                                              required
                                              #control="ngModel"
              ></pc-bed-preparation-type-select>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </span>
          </div>

          <div class="row" *templateVar="bedPreparationDuration | async; let model">
            <label i18n>Duration</label>
            <span>
              <div>
                <p-spinner [ngModel]="model.propertyValue"
                           (ngModelChange)="onBedPreparationDurationChange($event)"
                           [name]="'preparation'+model.property"
                           required
                           [min]="1" [step]="1"
                           [size]="4"
                           #control="ngModel"
                ></p-spinner>
                <label i18n class="unit">days</label>
              </div>
              <pc-validation-errors [errors]="model.validationErrors"
                                    *ngIf="control.touched"
              ></pc-validation-errors>
            </span>
          </div>
        </section>
      </div>

      <div class="col">
        <section class="bed-occupancy" *ngIf="(bedOccupancyStartValue | async) != null">
          <div class="row">
            <label i18n>Bed occupancy</label>
            <span class="values">
              <div class="value">
                <label i18n>From</label>
                <span>{{ bedOccupancyStartValue | async | date }}</span>
              </div>
              <div class="value">
                <label i18n>To</label>
                <span>{{ bedOccupancyEndValue | async | date }}</span>
              </div>
            </span>
          </div>

        </section>


        <label i18n>Notes</label>
        <div class="editor" *templateVar="htmlNotes | async; let model">
          <p-editor [ngModel]="model.propertyValue"
                    (ngModelChange)="onHtmlNotesChanged($event)"
                    name="notes"
                    [name]="model.property"
                    #control="ngModel"
          ></p-editor>
          <pc-validation-errors [errors]="model.validationErrors"
                                *ngIf="control.touched"
          ></pc-validation-errors>
        </div>
      </div>

    </div>

    <div class="validation-errors" *ngIf="hasValidationErrors  | async">
      <p-messages [value]="unboundErrorMessages | async"
                  [closable]="false"
      ></p-messages>
    </div>

    <div class="actions">
      <button type="submit" hidden></button>

      <button pButton type="button"
              [disabled]="!cultureForm.valid || (hasValidationErrors | async)"
              (click)="onSubmit()"
              label="Save" i18n-label></button>

      <button pButton type="button"
              class="ui-button-secondary"
              (click)="onCancel()"
              label="Cancel" i18n-label></button>
    </div>
  </form>
</div>
