<div class="password-reset ui-widget">

  <h1 i18n="password-reset page title">
    Choose a new password
  </h1>

  <header>
    <span i18n="password-reset page header">
      Fill in the form below to change your password
    </span>
  </header>

  <form class="password-reset-form pc-form" #resetForm="ngForm" (ngSubmit)="onReset()"
        validateFieldEquality="password,passwordCheck">
    <div class="row">
      <input pInputText
             [(ngModel)]="email"
             title="Email"
             placeholder="Email"
             i18n-title="email field title@@email-field-title"
             i18n-placeholder="email field title@@email-field-title"
             required
             autofocus
             type="email"
             name="email">
    </div>

    <div class="row">
      <input pInputText
             [(ngModel)]="token"
             title="Password reset token"
             placeholder="Password reset token"
             i18n-title="token field title@@token-field-title"
             i18n-placeholder="token field title@@token-field-title"
             required
             autofocus
             type="text"
             name="token">
    </div>


    <div class="row">
      <input pInputText
             [(ngModel)]="password"
             title="Password"
             placeholder="Password"
             i18n-title="password field title@@password-field-title"
             i18n-placeholder="password field title@@password-field-title"
             required
             minlength="8"
             [ngClass]="{'password-mismatch': resetForm.errors?.validateFieldEquality}"
             name="password"
             type="password"
      >
    </div>


    <div class="row">
      <input pInputText
             [(ngModel)]="passwordCheck"
             title="Password check"
             placeholder="Password check"
             i18n-title="password-check field title@@password-check-field-title"
             i18n-placeholder="password-check field title@@password-check-field-title"
             required
             minlength="8"
             [class.ng-]="{'password-mismatch': resetForm.errors?.validateFieldEquality}"
             name="passwordCheck"
             type="password"
      >
    </div>

    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Reset your password"
              i18n-label="activate button label"
              [disabled]="resetForm.invalid"
              (click)="onReset()"
      ></button>
    </div>

    <div class="actions">
      <a [routerLink]="['/login']">
        Back to login form
      </a>
    </div>
  </form>

</div>
