.crop-filter {
  display: flex;
  align-items: center;

  > * {
    display: inline-block;
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  > input {
    flex: 1 1 auto;
  }
}
