<span class="bed">
  <span class="icon" *ngIf="showIcon">
    <pc-fields-icon></pc-fields-icon>
  </span>
  <span class="name">
    {{ name  | async}}
  </span>
  <span class="surface">
    <span>{{ surface | async }}</span>
    <span class="unit" i18n>m²</span>
  </span>
  <span class="patch">
    <div *ngIf="showPatch && (patch | async) != null">
      <span class="label" i18n>
        Patch:
      </span>
      <span class="value">
        {{ patch | async}}
      </span>
    </div>
  </span>
</span>
