<div class="tenants-list ui-widget">
  <h1>Tenants</h1>

  <p-table [value]="tenantsStats$ | async"
           [first]="curPageOffset$ | async"
           [rows]="curPageLength$ | async"
           [totalRecords]="totalCount$ | async"
           [lazy]="true" [lazyLoadOnInit]="false"
           (onLazyLoad)="onLazyLoad($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th># Cultures</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stat>
      <tr>
        <td>{{stat?.tenant?.name}}</td>
        <td>{{stat?.stats?.culturesCount}}</td>
      </tr>
    </ng-template>

  </p-table>
</div>
