.pc-form {
  max-width: 30em;
  display: inline-block;
  text-align: initial;


  .actions {
    margin: 1em;
    text-align: center;

    > * {
      margin: 0 .5em;
    }
  }

}

.pc-form, .pc-form > .row > .col {
  margin: 1em;
  overflow: hidden;
  position: relative;

  > section {
    margin: 1em;

    h2 {
      font-size: 1.2em;
      text-align: center;
    }
  }

  .row {
    margin: .5em 0;
    display: flex;

    > * {
      flex: 1 1 100%;
      position: relative;
    }

    > label {
      flex: 0 0 10em;
      overflow: hidden;
      margin: .3em 0;
    }
  }


}
