.pc-form {
  display: inline-block;
  text-align: initial;

  .actions {
    margin: 1em;
    text-align: center;

    > * {
      margin: 0 .5em;
    }
    > a {
      display: inline-block;
      padding: .3em;
      color: #186ba0;
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }

}

.pc-form, .pc-form > .row > .col {
  margin: 1em;
  overflow: hidden;
  position: relative;

  > section {
    margin: 1em 0;

    h2 {
      font-size: 1.2em;
      text-align: center;

      > * {
        display: inline-block;
      }
      > .form-icon {
        width: 1.2em;
        height: 1.2em;
        margin: 0 .5em;
      }
    }

  }

  .row {
    margin: .5em .3em;
    display: flex;

    > * {
      flex: 1 1 100%;
      position: relative;

      input {
        width: 100%;
      }
    }

    > label {
      flex: 0 0 10em;
      overflow: hidden;
      margin: .3em 0;
    }

    > .form-icon {
      flex: 0 0 1.3em;

      width: 1.2em;
      height: 1.2em;
      margin: 0 .2em;
    }

    > .label {
      display: inline-block;
      margin: .3em;
    }
  }

  .hint {
    font-size: .8em;
    opacity: .8;
    margin: -.3em .3em .2em .3em;
  }

  .error {
    font-size: .9em;
    color: darkred;
    background-color: rgba(200, 75, 66, 0.3);
    border: 1px solid darkred;
    border-radius: .1em;
    margin: -.3em .3em .2em .3em;
    padding: 0 .2em;
  }

}
