.bed-list {
  margin: .5em;
  header {
    display: flex;
    align-items: center;

    > * {
      display: inline-block;
      flex: 1 1 auto;
    }

    > .actions {
      flex: 0 0 auto;
    }
  }
}

.list-item {
  display: flex;
  align-items: center;

  margin: .3em;
  border-radius: .3em;

  &.selectable {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  >* {
    flex: 1 1 auto;
  }
  >.actions {
    flex: 0 0 auto;

    a {
      display: inline-block;
      padding: .5em;
      border-radius: .3em;

      &:hover {
        &.remove {
          background-color: #79010c;
          color: white;
        }
      }
    }
  }
}
