<div class="menu ui-widget">
  <a class="crops"
     [routerLink]="['/crops']"
     routerLinkActive="active-link"
     title="Crops" i18n-title
  >
    <pc-seedlings-icon></pc-seedlings-icon>
  </a>

  <a class="beds"
     [routerLink]="['/beds']"
     routerLinkActive="active-link"
     title="Beds" i18n-title
  >
    <pc-fields-icon></pc-fields-icon>
  </a>

  <a class="cultures"
     [routerLink]="['/cultures']"
     routerLinkActive="active-link"
     title="Cultures" i18n-title
  >
    <pc-seedlings-open-icon></pc-seedlings-open-icon>
  </a>


  <a class="timeline"
     [routerLink]="['/timeline']"
     routerLinkActive="active-link"
     title="Timelines" i18n-title
  >
    <i class="fa fa-calendar"></i>
  </a>


  <a class="timeline"
    [routerLink]="['/calendar']"
     routerLinkActive="active-link"
     title="Calendar" i18n-title
  >
    <i class="fa fa-calendar-o"></i>
  </a>

</div>
