<div class="header-menu ui-widget">
  <span class="left">

    <a [routerLink]="['/admin/_/dashboard']"
       routerLinkActive="active-link"
       title="Dashboard"
       i18n-title="dashboard menu link title"
    >
      <span i18n="dashboard menu link">
        Dashboard
      </span>
    </a>

    <a [routerLink]="['/admin/_/tenant/list']"
       routerLinkActive="active-link"
       title="Tenants"
    >
      <span i18n>
        Tenants
      </span>
    </a>

    <a [routerLink]="['/admin/_/user/list']"
       routerLinkActive="active-link"
       title="Users"
    >
      <span i18n>
        Users
      </span>
    </a>

  </span>

</div>
