.calendar-group-row {
  display: flex;
  margin: 1.3em 0;
  align-items: stretch;

  > .label {
    flex: 0 0 8em;
    margin-top: 2em;
    text-align: center;

    >h1 {
      margin-top: 0;
    }

    .subtitle {
      font-size: .8em;
      opacity: .8;
    }
  }

  > .events {
    flex: 1 1 auto;
    display: inline-flex;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;

    >.event {
      flex: 0 1 20em;
      margin: 1em;
      overflow: hidden;

      &:not(:last-child) {
        //border-right: 1px solid lightgray;
      }

      &:not(.nonempty) {
        display: none;
      }

      header {
        display: block;
        font-weight: bold;
        opacity: .4;
        text-align: center;
        font-size: .7em;
        border-bottom: 1px solid lightgray;

        >.icon {
          display: inline-block;
          margin-right: 1em;
          height: 1em;
          width: 1em;
        }
      }

      .event {
        font-size: .7em;
      }
    }
  }
}
