.crop-filter {
  display: inline;

  > * {
    display: inline-block;
    margin: .3em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  > input {
    flex: 1 1 auto;
  }

  pc-crop-search-query-type {
    display: inline-block;
    margin: .2em;
  }
}
