<div class="activate-account ui-widget">

  <h1 i18n="activate-account page title">
    Account activation
  </h1>

  <header>
    <span i18n="activate-account page header">
      Your account is waiting for email verification.
      <br/>
      Click on the link in the mail you received, or paste your activation token in the form below
    </span>
  </header>

  <form class="activate-account-form pc-form" #activationForm="ngForm" (ngSubmit)="onActivate()"
        validateFieldEquality="password,passwordCheck">
    <div class="row">
      <input pInputText
             [(ngModel)]="email"
             title="Email"
             placeholder="Email"
             i18n-title="email field title@@email-field-title"
             i18n-placeholder="email field title@@email-field-title"
             required
             autofocus
             type="email"
             name="email">
    </div>

    <div class="row">
      <input pInputText
             [(ngModel)]="token"
             title="Activation token"
             placeholder="Activation token"
             i18n-title="token field title@@token-field-title"
             i18n-placeholder="token field title@@token-field-title"
             required
             autofocus
             type="text"
             name="token">
    </div>

    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Activate your account"
              i18n-label="activate button label"
              [disabled]="activationForm.invalid"
              (click)="onActivate()"
      ></button>
    </div>
  </form>


</div>
