<div class="bed-form ui-widget">
  <header>
    <h1 i18n>Bed edition</h1>
  </header>

  <form #bedForm="ngForm" (submit)="onSubmit()" class="pc-form"
        *ngIf="bed != null">

    <div class="row">
      <label i18n>Name</label>
      <input pInputText
             [(ngModel)]="bed.name"
             required
             autofocus
             name="bed-name"
      >
    </div>

    <div class="row">
      <label i18n>Surface</label>
      <div>
        <p-spinner name="bed-surface"
                   [(ngModel)]="bed.surface"
                   required
                   [min]="0"
                   [step]="0.01"
        ></p-spinner>
        <span class="unit" i18n>m²</span>
      </div>
    </div>

    <div class="row">
      <label i18n>Patch</label>
      <pc-patch-input [(ngModel)]="bed.patch"
                      name="bed-patch"
      ></pc-patch-input>
    </div>

    <div class="actions">
      <button type="submit" hidden></button>

      <button pButton type="button"
              [disabled]="!bedForm.valid"
              (click)="onSubmit()"
              label="Save" i18n-label></button>

      <button pButton type="button"
              class="ui-button-secondary"
              (click)="onCancel()"
              label="Cancel" i18n-label></button>
    </div>
  </form>
</div>
