<div class="admin-area">
  <div class="header">
    <pc-header-menu></pc-header-menu>
  </div>
  <router-outlet></router-outlet>
</div>

<p-dialog [closable]="false"
          header="Setup admin account"
          i18n-header="setup admin password dialog header"
          [modal]="true"
          [visible]="resetPasswordDialogVisible"
>

  <form #adminInfoForm="ngForm" (ngSubmit)="onAdminResetSaveClicked()"
        class="admin-account-form"
        *ngIf="resetPasswordInfo != null">
    <header i18n>
      <p>
        Please setup your administration account. This account will be only be used for maintenance tasks,
        separate accounts will be used for application users.
      </p>
      <p>
        It is strongly recommended to use another login than the default one. Note that this is not required
        to be an email address for this account.
      </p>
    </header>
    <div class="form-row">
      <span i18n="@@admin-login-field-title">Login</span>
      <input pInputText
             [(ngModel)]="resetPasswordInfo.userName"
             title="Login"
             placeholder="Login"
             i18n-title="admin login field title@@admin-login-field-title"
             i18n-placeholder="admin login field title@@admin-login-field-title"
             required
             autofocus
             name="login">
    </div>

    <div class="form-row">
      <span i18n="@@password-field-title">Password</span>
      <input pInputText
             [(ngModel)]="resetPasswordInfo.password"
             title="Password"
             placeholder="Password"
             i18n-title="password field title@@password-field-title"
             i18n-placeholder="password field title@@password-field-title"
             required
             minlength="8"
             name="password"
             type="password"
      >
    </div>
    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Save"
              i18n-label="save button label@@save-button-label"
              [disabled]="!adminInfoForm.valid"
              (click)="onAdminResetSaveClicked()"
      ></button>
    </div>
  </form>
</p-dialog>
