<p-autoComplete [ngModel]="value"
                (ngModelChange)="onChange($event)"
                [suggestions]="suggestions"
                [forceSelection]="forceSelection"
                [dropdown]="forceSelection"
                [placeholder]="placeholder"
                (completeMethod)="search($event)"
                (onDropdownClick)="searchAll()"
                (onClear)="onClear()"
                (onBlur)="onBlur()"
                appendTo="body"
                name="patch-select"
                class="patch-select"
></p-autoComplete>
