.tuple-select {
  display: flex;
  align-items: center;

  .plant-product-select {
    flex: 1 1 auto;
    display: block;

    ::ng-deep .ui-autocomplete {
      width: 100%;
      > input {
        width: 100%;
      }
    }
  }

  .clear-button {
    flex: 0 0 auto;
    padding: .3em;

    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }
}

.tuple-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5D5D5;

  > * {
    flex: 1 1 auto;
    display: inline-block;
  }
  > .agrovoc-labels {
    margin-left: 1em;
    text-align: right;
  }

  .pc-product {
    font-size: .8em;
    margin: .1em 0;
  }
}
