<div class="tuple-select">

  <p-autoComplete [ngModel]="selection"
                  (ngModelChange)="onSelectionChange($event)"
                  [autofocus]="autofocus"
                  [suggestions]="suggestions"
                  [forceSelection]="true"
                  [minLength]="3"
                  (completeMethod)="search($event)"
                  appendTo="body"
                  field="matchedTerm"
                  dataKey="id"
                  name="plant-label"
                  class="plant-product-select"
                  #autoComplete
  >
    <ng-template let-tuple pTemplate="item">
      <div class="ui-helper-clearfix tuple-item">
        <span class="matched-term">{{ tuple.matchedTerm }}</span>
        <span class="agrovoc-labels">
        <div class="pc-species">{{ tuple.plantPreferredLabel }}</div>
        <div class="pc-product">{{ tuple.productPreferredLabel }}</div>
      </span>
      </div>
    </ng-template>
  </p-autoComplete>
  <span *ngIf="showClearButton">
    <a class="clear-button"
       (click)="onClearClick()"
       title="Clear" i18n-title>
      <i class="pi pi-trash"></i>
    </a>
  </span>
</div>
