
.account-toolbar {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 2em;
  display: inline-flex;
  align-items: stretch;

  >* {
    flex: 0 0 auto;
    margin: 0 .3em;
    position: relative;
  }

  @media print {
    display: none;
  }
}

.version {
  display: inline-block;
  font-size: .7em;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: .5;

  > * {
    display: inline-block;
  }

  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    padding: .1em .3em;

    &:hover {
      opacity: .9;
      cursor: pointer;
    }
  }

  .copyleft {
    display: inline-block;
    transform: scaleX(-1);
  }
}
