<div class="app">
  <div class="messages-overlay">
    <span class="messages-container">
      <p-messages [value]="notificationMessages | async"
                  [closable]="false"
      ></p-messages>
    </span>
  </div>
  <router-outlet></router-outlet>

  <span class="version ui-widget">
    <a class="name-version"
        [href]="appInfo.projectUrl">
      {{ appInfo.name }} {{ appInfo.version }}
    </a>
    <span class="copyleft">©</span>
    <span>{{ appInfo.copyleft }}</span>
  </span>
</div>
