<div class="app">
  <p-toast position="top-center"></p-toast>

  <div class="account-toolbar">
    <span class="admin-menu">
      <pc-admin-menu></pc-admin-menu>
    </span>
    <span class="languages">
      <pc-language-select [ngModel]="currentLanguage"
                          (ngModelChange)="onLanguageChanged($event)"
                          name="language"
      ></pc-language-select>
    </span>
    <span class="account">
      <pc-account-menu></pc-account-menu>
    </span>
  </div>

  <router-outlet></router-outlet>

  <span class="version ui-widget">
    <a class="name-version"
       [href]="appInfo.projectUrl">
      {{ appInfo.name }} {{ appInfo.version }}
    </a>
    <span class="copyleft">©</span>
    <span>{{ appInfo.copyleft }}</span>
  </span>
</div>
