<div class="login ui-widget">

  <h1 i18n="login page title">
    Welcome !
  </h1>

  <header>
    <span i18n="login page header">
      Please log in to continue
    </span>
  </header>

  <form class="login-form pc-form" #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="row">
      <input pInputText
             [(ngModel)]="login"
             title="Login or email"
             placeholder="Login or email"
             i18n-title="login field title@@login-field-title"
             i18n-placeholder="login field title@@login-field-title"
             required
             autofocus
             type="text"
             name="login">
    </div>

    <div class="row">
      <input pInputText
             [(ngModel)]="password"
             title="Password"
             placeholder="Password"
             i18n-title="password field title@@password-field-title"
             i18n-placeholder="password field title@@password-field-title"
             required
             minlength="8"
             name="password"
             type="password"
      >
    </div>

    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Login"
              i18n-label="login button label"
              (click)="onLogin()"
      ></button>
    </div>
    <div class="actions">
      <a [routerLink]="['/register']"
         i18n="login new-account-link label"
         title="Create new account"
         i18n-title="login new-account-link title">
        Create a new account
      </a>
      <a [routerLink]="['/password-reset/new']"
         i18n="login password-reset label"
         title="Forgot your password?"
         i18n-title="login password-reset  title">
        Forgot your password?
      </a>

    </div>
  </form>
</div>
