.crop-list {
  margin: .5em;
  header {
    display: flex;
    align-items: center;

    > * {
      display: inline-block;
      flex: 1 1 auto;
    }

    > .actions {
      flex: 0 0 auto;
    }
  }
}
