<div class="password-reset ui-widget">

  <h1 i18n="password-reset page title">
    Password reset
  </h1>

  <header>
    <span i18n="password-reset page header">
      Please enter your email below to reset your password.
      <br/>
      You will receive an email containing a link to enter your new password.
    </span>
  </header>

  <form class="password-reset-form pc-form" #passwordResetForm="ngForm" (ngSubmit)="onReset()">
    <div class="row">
      <input pInputText
             [(ngModel)]="email"
             title="Email"
             placeholder="Email"
             i18n-title="login field title@@login-field-title"
             i18n-placeholder="login field title@@login-field-title"
             required
             autofocus
             type="text"
             name="login">
    </div>

    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Reset your password"
              i18n-label="password-reset button label"
              [disabled]="passwordResetForm.invalid"
              (click)="onReset()"
      ></button>
    </div>

    <div class="actions">
      <a [routerLink]="['/login']">
        Back to login form
      </a>
    </div>
  </form>
</div>
