<div class="register ui-widget">

  <h1 i18n="register page title">
    Welcome !
  </h1>

  <header>
    <span i18n="register page header no-existing-account"
          *ngIf="!(hasExistingAccount | async)">
      Please fill the form below to create an account
    </span>
    <span i18n="register page header existing-account"
          *ngIf="hasExistingAccount | async">
      Please complete the information to activate your account
    </span>
  </header>

  <form class="register-form pc-form" #registerForm="ngForm" (ngSubmit)="onRegister()"
        validateFieldEquality="password,passwordCheck">

    <section *ngIf="!(hasExistingAccount | async)">

      <div class="row">
        <input pInputText
               [(ngModel)]="registration.email"
               title="Email"
               placeholder="Email"
               i18n-title="email field title@@email-field-title"
               i18n-placeholder="email field placeholder@@email-field-placeholder"
               required
               autofocus
               [class.ng-invalid]="(validationErrorDict$ | async).email != null"
               type="email"
               name="email">
      </div>
      <div class="error" *ngFor="let e of (validationErrorDict$ | async).email">
        {{ e  }}
      </div>
      <div class="hint" i18n>
        Please enter a valid email address, a confirmation email will be sent to you
      </div>

      <div class="row">
        <input pInputText
               [(ngModel)]="registration.name"
               title="Login"
               placeholder="Login"
               i18n-title="name field title@@name-field-title"
               i18n-placeholder="name  field placeholder@@name-field-placeholder"
               [class.ng-invalid]="(validationErrorDict$ | async).name != null"
               required
               name="name"
               type="text"
        >
      </div>
      <div class="error" *ngFor="let e of (validationErrorDict$ | async).name">
        {{ e }}
      </div>
      <div class="hint" i18n>
        You will be able to login using both your email or this login.
      </div>

      <div class="row">
        <input pInputText
               [(ngModel)]="registration.password"
               title="Password"
               placeholder="Password"
               i18n-title="password field title@@password-field-title"
               i18n-placeholder="password field placeholder@@password-field-placeholder"
               required
               minlength="8"
               [class.ng-invalid]="(validationErrorDict$ | async).password != null"
               [ngClass]="{'password-mismatch': registerForm.errors?.validateFieldEquality}"
               name="password"
               type="password"
        >
      </div>
      <div class="error" *ngFor="let e of (validationErrorDict$ | async).password">
        {{ e }}
      </div>
      <div class="hint" i18n>
        Min 8 characters, including at least 1 letter or digit and 1 other character.
      </div>

      <div class="row">
        <input pInputText
               [(ngModel)]="newAccountPasswordCheck"
               title="Password check"
               placeholder="Password check"
               i18n-title="password-check field title@@password-check-field-title"
               i18n-placeholder="password-check field placeholder@@password-check-field-placeholder"
               required
               minlength="8"
               [class.ng-]="{'password-mismatch': registerForm.errors?.validateFieldEquality}"
               name="passwordCheck"
               type="password"
        >
      </div>
      <div class="hint" i18n>
        Make sure you will remember it
      </div>
    </section>


    <div class="row">
      <input pInputText
             [(ngModel)]="registration.user.firstName"
             title="First name"
             placeholder="First name"
             i18n-title="firstName field title@@firstName-field-title"
             i18n-placeholder="firstName field placeholder@@firstName-field-placeholder"
             required
             name="firstName"
             type="text"
      >
    </div>

    <div class="row">
      <input pInputText
             [(ngModel)]="registration.user.lastName"
             title="Last name"
             placeholder="Last name"
             i18n-title="lastname field title@@lastname-field-title"
             i18n-placeholder="lastname field placeholder@@lastname-field-placeholder"
             required
             name="lastName"
             type="text"
      >
    </div>

    <div class="actions">
      <button type="submit" hidden></button>
      <button pButton type="button"
              label="Create an account"
              i18n-label="register button label"
              [disabled]="registerForm.invalid"
              (click)="onRegister()"
      ></button>
    </div>

    <div class="actions">
      <a (click)="logout()">
        Back to login form
      </a>
    </div>
  </form>
</div>
