<div class="crop-form ui-widget">
  <header>
    <h1 i18n>Crop edition</h1>
  </header>

  <form #cropForm="ngForm" (submit)="onSubmit()" class="pc-form"
        *ngIf="crop != null">

    <section class="agrovoc-search">
      <div class="row">
        <label i18n>FAO query</label>
        <pc-agrovoc-plant-product-tuple-select ngModel
                                               (ngModelChange)="onPlanProductTupleChange($event)"
                                               name="crop-agrovoc-search"
                                               pcAutofocus
        ></pc-agrovoc-plant-product-tuple-select>
      </div>
      <div class="hint">
        <span i18n>
          Try to use one of the FAO results in order to be able to correlate the crop information with open databases.
          Pay extra care with accents that must be correctly provided in the query.
        </span>
      </div>
    </section>


    <div class="row">
      <label i18n>Display name</label>
      <input pInputText
             [(ngModel)]="crop.displayName"
             name="crop-displayname"
             required>
    </div>


    <div class="row">
      <label i18n>Family</label>
      <input pInputText
             [(ngModel)]="crop.family"
             [disabled]="crop.agrovocPlantURI != null"
             required
             name="crop-family"
      >
    </div>


    <div class="row">
      <label i18n>Species</label>
      <input pInputText
             [(ngModel)]="crop.species"
             [disabled]="crop.agrovocPlantURI != null"
             required
             name="crop-species"
      >
    </div>


    <div class="row">
      <label i18n>Subspecies</label>
      <input pInputText
             [(ngModel)]="crop.subSpecies"
             [disabled]="crop.agrovocPlantURI != null"
             name="crop-subSpecies"
      >
    </div>

    <div class="row">
      <label i18n>Cultivar</label>
      <input pInputText
             [(ngModel)]="crop.cultivar"
             name="crop-cultivar"
      >
    </div>


    <div class="actions">
      <!--<button type="submit" hidden></button>-->

      <button pButton type="button"
              [disabled]="!cropForm.valid"
              (click)="onSubmit()"
              label="Save" i18n-label></button>

      <button pButton type="button"
              class="ui-button-secondary"
              (click)="onCancel()"
              label="Cancel" i18n-label></button>
    </div>
  </form>
</div>
