<p-autoComplete [ngModel]="value | async"
                (ngModelChange)="onChange($event)"
                [suggestions]="suggestions"
                [forceSelection]="true"
                [dropdown]="true"
                (completeMethod)="search($event)"
                (onDropdownClick)="searchAll()"
                (onBlur)="onBlur()"
                appendTo="body"
                field="label"
                name="bed-select"
                class="bed-select"
                required
                #control="ngModel"
                [inputStyleClass]="control.invalid && control.touched ? 'ng-invalid ng-dirty' : ''"
>
  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix bed-item">
      <pc-bed [showIcon]="false"
               [id]="item.value.id"
      ></pc-bed>
    </div>
  </ng-template>
</p-autoComplete>
