.app-shell {
  display: flex;
  align-items: stretch;

  position: absolute;
  height: 100vh;
  width: 100vw;

  > .menu {
    flex: 0 0 2em;
    position: relative;

    @media print {
      display: none;
    }
  }
  > .content {
    flex: 1 1 auto;
    position: relative;
    margin-left: 2em;
    padding-right: 1em;
    overflow: auto;

    @media print {
      overflow: visible;
    }
  }
}
