.admin-menu {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;

  a:not([hidden]) {
    display: inline-block;
    >* {
      display: inline-block;
      vertical-align: middle;
    }

    >i {
      margin-right: .3em;
    }
  }
}
