<div class="crop">
  <span class="icon" *ngIf="showIcon">
    <pc-single-seedlings-icon></pc-single-seedlings-icon>
  </span>
  <span class="display-name">
      {{ displayName | async }}
  </span>
  <span class="taxon" *ngIf="showTaxon">
    <div>
      <span class="pc-species">
        {{ species | async }}
      </span>
      <span class="pc-cultivar"
            *ngIf="(cultivar | async) != null"
      >
        {{ cultivar | async }}
      </span>
    </div>
    <span class="family">{{ family| async }}</span>
  </span>
</div>
